spring:
  # 激活的配置文件 dev|prod
  profiles:
    active: dev
#  quartz:
#    job-store-type: jdbc
#    jdbc:
#      initialize-schema: never

# jwt
jwt:
  # 密钥
  secret: 1Q8oTpiVuQeoV7N6ktMmOkMvpJPqNwm+zaVxzeskREE=
  # token有效时长，7天，单位秒
  expire: 604800
  # 请求头
  header: Authorization
  # token类型
  type: Bearer
#  # 令牌前缀
#  token-start-with: Bearer
#  # 必须使用最少88位的Base64对该令牌进行编码
#  base64-secret: ZmQ0ZGI5NjQ0MDQwY2I4MjMxY2Y3ZmI3MjdhN2ZmMjNhODViOTg1ZGE0NTBjMGM4NDA5NzYxMjdjOWMwYWRmZTBlZjlhNGY3ZTg4Y2U3YTE1ODVkZDU5Y2Y3OGYwZWE1NzUzNWQ2YjFjZDc0NGMxZWU2MmQ3MjY1NzJmNTE0MzI=
#  # 令牌过期时间 此处单位/毫秒 ，默认2小时，可在此网站生成 https://www.convertworld.com/zh-hans/time/milliseconds.html
#  token-validity-in-seconds: 7200000
#  # 在线用户key
#  online-key: online-token-
#  # 验证码
#  code-key: code-key-
#  # token 续期检查时间范围（默认30分钟，单位默认毫秒），在token即将过期的一段时间内用户操作了，则给用户的token续期
#  detect: 1800000
#  # 续期时间范围，默认 1小时，这里单位毫秒
#  renew: 3600000
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
