spring:
  # 多数据源
  datasource:
    dynamic:
      primary: bonfire
      strict: false
      datasource:
        bonfire:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://127.0.0.1:3306/bonfire?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=UTF-8
          username: r**t
          password: 1****6
        lamp:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://127.0.0.1:3306/lamp?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=UTF-8
          username: r**t
          password: 1****6
  redis:
    host: 127.0.0.1
    password: f******d
    # 启用连接池
    lettuce:
      pool:
        max-active: 8
  servlet:
    multipart:
      # 单文件最大尺寸，注意Nginx也有类似设置项，水管效应
      max-file-size: 10MB
      # 单请求最大尺寸
      max-request-size: 10MB
# 日志文件生成路径，一般生产环境需要配置，开发环境不需要了
#logging:
#  file:
#    path: logs

# 工程自定义参数
bonfire:
  version: @project.version@
  # 登录是否启用验证码校验
  captchaEnabled: true
  # 默认密码
  defaultPassword: Bonfire@2022
  # 是否开启@AccessLog日志记录写库
  accessLog: true
  mac:
    uploadPath: ~/Developer/bonfire/upload
    tempPath: ~/Developer/bonfire/temp
  win:
    uploadPath: C:\bonfire\upload
    tempPath: C:\bonfire\temp
  linux:
    uploadPath: /home/bonfire/upload
    tempPath: /home/bonfire/temp

minio:
  endpoint: endpoint
  accessKey: access_key
  secretKey: secret_key

dingtalk:
  agentId: agent_id
  appKey: app_key
  appSecret: app_secret
  adminUserId: admin_user_id
